@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Indie+Flower&display=swap');
@font-face{ 
    font-family: 'getSchwifty';
    src:
        url('getschwifty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url(Img/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.titulo {
  font-family: 'getSchwifty', sans-serif;
  background-size: cover;
  font-size:60px;
  color: #42f4e2;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 40px 0 10px;
  text-align: center;
  text-shadow:
  1px 2px 0px #04434C,
  0 -5px 4px #FFF707,
  2px -10px 6px #97CC4E,
  -2px -15px 11px #81C884,
  2px -25px 18px #80C786;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#container{
    width: 40%;
    background-color: #e88f4d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5em; 
    margin-bottom: 2em;
}
#container img{
    margin-top: 2em;
    width: 40%;
}
#container h1{
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
}
#container div{
    font-size: 2em;
    font-family: 'Indie Flower', cursive;

}
#random{
    margin-bottom: 2em;
    border: 0px;
    font-size: 1.3em;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
.status{
    margin-bottom: 1.6em;
}
